@mixin general {
  //   border: 1px solid black;
  align-items: center;
  box-sizing: border-box;
}

.page {
  display: flex;
  flex-direction: column;
  height: 100vh;
  align-items: center;
}

.header {
  @include general();
  display: flex;
  justify-content: space-between;
  background-color: var(--primary);
  width: 100vw;
  height: 70px;
  padding-inline: 30px;
}

.userId {
  @include general();
  display: flex;
  align-self: flex-end;
  padding-inline: 30px;
  height: 5vh;
  padding: 30px;
}

.chat {
  // @include general();
  display: flex;
  flex-grow: 1;
  overflow-y: auto;
  overflow-x: hidden;
  width: 55vw;
  flex-direction: column;
  padding: 20px;
  background-color: #ffffff;

  &::-webkit-scrollbar {
    width: 10px;
  }

  &::-webkit-scrollbar-thumb {
    background: rgb(134, 196, 255);
    border-radius: 3px;
  }
  &::-webkit-scrollbar-track {
    background: rgba(186, 176, 243, 0.1);
  }
}

.messageContainer {
  display: flex;
  margin-bottom: 15px;
  // justify-content: flex-start;

  &.admin {
    justify-content: flex-start;
  }

  &.user {
    justify-content: flex-end;
  }
}

.profileContainer {
  display: flex;
  // align-items: center;
}

.message {
  padding: 10px;
  border-radius: 10px;
  word-wrap: break-word;
  max-width: 55vw;
  white-space: pre-wrap;

  &.admin {
    background-color: #e0f7fa;
  }

  &.user {
    display: flex;
    background-color: #e6e4e3;
    justify-content: flex-end;
  }
}

.textInput {
  width: 55vw;
  display: flex;
  align-items: center;
  padding: 20px 20px 40px 20px;
  background-color: white;

  input {
    flex-grow: 1;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 10px;
    margin-right: 10px;
  }
}

.button {
  @include general;
  background-color: var(--primary);
  color: white;
  padding: 10px 20px;
  border-radius: 10px;
  cursor: pointer;
  &:hover {
    background-color: var(--hover);
  }
  &:active {
    position: relative;
    top: -1px;
  }
}

.middle {
  display: flex;
  align-items: center;
}

.warningMessage {
  margin-top: -30px;
  margin-bottom: 20px;
  font-size: 12px;
  color: var(--gray03);
}

.userId {
  display: flex;
  align-items: center;
  gap: 10px; /* 아이템 간 간격 */

  .userImage {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px; /* 컨테이너 크기 고정 */
    height: 50px; /* 컨테이너 크기 고정 */
    border-radius: 50%; /* 둥근 컨테이너 */
    border: 1px solid var(--gray03);
    background-color: var(--primary); /* 배경색을 메인 컬러로 설정 */
    color: white; /* 텍스트 색상 */
    font-size: 12px; /* 텍스트 크기 */
    font-weight: bold; /* 텍스트 두께 */
    text-transform: uppercase; /* 대문자 표시 (옵션) */
    overflow: hidden;
    &:hover {
      background-color: var(--hover);
    }

    &:active {
      position: relative;
      top: -1px;
    }
  }

  .userName {
    font-size: 14px;
    font-weight: bold;
    color: var(--gray04);
  }
}
