@mixin general {
  //   border: 1px solid black;
  align-items: center;
  box-sizing: border-box;
}

.page {
  display: flex;
  flex-direction: column;
  height: 100vh;
  align-items: center;
}

.header {
  @include general();
  display: flex;
  justify-content: space-between;
  background-color: rgb(89, 193, 241);
  width: 100vw;
  height: 10vh;
  padding-inline: 30px;
}

.userId {
  @include general();
  display: flex;
  align-self: flex-end;
  padding-inline: 30px;
  height: 5vh;
  padding: 30px;
}

.chat {
  // @include general();
  display: flex;
  flex-grow: 1;
  overflow-y: auto;
  width: 55vw;
  flex-direction: column;
  padding: 20px;
  background-color: #ffffff;

  &::-webkit-scrollbar {
    width: 10px;
  }

  &::-webkit-scrollbar-thumb {
    background: rgb(134, 196, 255);
    border-radius: 3px;
  }
  &::-webkit-scrollbar-track {
    background: rgba(186, 176, 243, 0.1);
  }
}

.messageContainer {
  display: flex;
  margin-bottom: 15px;
  // justify-content: flex-start;

  &.admin {
    justify-content: flex-start;
  }

  &.user {
    justify-content: flex-end;
  }
}

.profileContainer {
  display: flex;
  // align-items: center;
}

.message {
  padding: 10px;
  border-radius: 10px;
  word-wrap: break-word;
  max-width: 55vw;
  white-space: pre-wrap;

  &.admin {
    background-color: #e0f7fa;
  }

  &.user {
    display: flex;
    background-color: #e6e4e3;
    justify-content: flex-end;
  }
}

.textInput {
  width: 55vw;
  display: flex;
  align-items: center;
  padding: 40px;
  background-color: white;

  input {
    flex-grow: 1;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 10px;
    margin-right: 10px;
  }
}

.button {
  @include general;
  background-color: rgb(46, 151, 190);
  color: white;
  padding: 10px 20px;
  border-radius: 10px;
  cursor: pointer;
  &:hover {
    background-color: #358484;
  }
}

.middle {
  display: flex;
  align-items: center;
}
