.layout {
  position: relative;
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  overflow-y: auto;
  background-color: var(--bg01);
}

.mainContent {
  position: relative;
  height: 100%;
  width: 100%;
  display: flex;
  flex: 1;
  flex-direction: row;
  overflow: hidden; /* 화면에 넘치는 콘텐츠가 생기지 않도록 숨김 처리 */
}

.aside {
  width: 20%;
  height: 100%;
  overflow-y: auto; /* 필요할 때만 세로 스크롤 추가 */
}

.content {
  position: relative;
  width: 80%;
  height: 100%;
  padding: 20px;
  background-color: var(--bg01); /* 메인 콘텐츠 배경색 */
  overflow-y: auto; /* 콘텐츠가 넘칠 경우 스크롤 추가 */
}
